
body
{
  background-color:;

}
#img_painel_adm
{
  margin-top:0px;
  margin-left:93px;
  width:150px;
  height:150px;


}
.row[class^=col-],.row .col{
 border:1px solid #ccc; 
 margin-top:60px;
 text-align:center;
}